@media all {html {font-size: 20px;}}
@media all and (max-width:950px){html {font-size: 19.5px;}}
@media all and (max-width:900px){html {font-size: 19px;}}
@media all and (max-width:850px){html {font-size: 18.5px;}}
@media all and (max-width:800px){html {font-size: 18px;}}
@media all and (max-width:750px){html {font-size: 17.5px;}}
@media all and (max-width:700px){html {font-size: 17px;}}
@media all and (max-width:650px){html {font-size: 16.5px;}}
@media all and (max-width:600px){html {font-size: 16px;}}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

html {
    background: #f8f5ec;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
}

body {
	font: 1.2rem/1.5 'Cormorant Garamond', serif;
	color: #403636;
	font-weight: 400;
	padding: 3rem;
}

main {
	max-width: 35rem;
}

main div {
	margin: 0 -3rem;
	height: calc(100vh - 10rem);
	background: #f0efea url(bg.jpg);
    background-size: cover;
	z-index: -1;
}

footer {
    font-size: 70%;
    position: absolute;
    bottom: 3rem;
}

h1 {
	font-size: 2.5rem;
	line-height: 1.2;
	margin: 12vh 0 3rem;
    font-style: italic;
    font-weight: normal;
}

p {
	margin: 1rem 0;
}

a {
    color: #4e86bc;
    text-decoration: none;
}

@media (hover: hover) {
    a:hover,
    a:focus {
        color: #9c836b !important;
    }
}

@media (max-width: 999px) {
    body {
        padding: 5vw;
        margin-bottom: 5vw;
    }

    main div {
        margin: 0 -5vw 3rem;
        width: 100vw;
        background-position: 0% 75%;
        min-height: 250px;
        max-height: 250px;
    }

    h1 {
        margin-top: 5vw;
    }

    footer {
        position: initial;
        margin-top: 6rem;
    }
}

@media (min-width: 1000px) {
	body {
		margin-left: 33.3vw;
	}

	main div {
		position: fixed;
		left: 0;
		top: 0;
		margin: 0;
		height: 100vh;
		width: 33.3vw;
	}
}

@media (min-width: 1300px) {
	body {
		margin-left: 50vw;
	}

	main div {
		width: 50vw;
    }
}